<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.ch4.dao.order.OrderMapper">
    <insert id="insertOrder" parameterType="OrderDto" useGeneratedKeys="true" keyProperty="ord_seq">
        INSERT INTO book_shop.order
            (ord_stat,
            deli_stat,
            pay_stat,
            delivery_fee,
            total_prod_pric,
            total_disc_pric,
            total_ord_pric,
            created_at,
            updated_at,
            reg_date,
            reg_id,
            up_date,
            up_id,
            cust_id)
        VALUES (#{ord_stat},
                #{deli_stat},
                #{pay_stat},
                #{delivery_fee},
                #{total_prod_pric},
                #{total_disc_pric},
                #{total_ord_pric},
                NOW(),
                NOW(),
                NOW(),
                #{reg_id},
                NOW(),
                #{up_id},
                #{cust_id});
    </insert>

    <select id="selectOrderListByCondition" parameterType="map" resultType="OrderDto">
        SELECT
            ord_seq,
            ord_stat,
            deli_stat,
            pay_stat,
            delivery_fee,
            total_prod_pric,
            total_disc_pric,
            total_ord_pric,
            created_at,
            updated_at,
            reg_date,
            reg_id,
            up_date,
            up_id,
            cust_id
        FROM book_shop.`order`
        <where>
            <if test="ord_seq != null">
                ord_seq = #{ord_seq}
            </if>
            <if test="cust_id != null">
                AND cust_id = #{cust_id}
            </if>
        </where>
    </select>

    <update id="updateOrderStatus" parameterType="map">
        UPDATE book_shop.`order`
        SET
            ord_stat = #{ord_stat},
            deli_stat = #{deli_stat},
            pay_stat = #{pay_stat},
            updated_at = NOW(),
            up_id = #{up_id},
            up_date = NOW()
        WHERE
            ord_seq = #{ord_seq}
    </update>

    <update id="updateOrderPriceInfo" parameterType="map">
        UPDATE book_shop.`order`
        SET
            delivery_fee = #{delivery_fee},
            total_disc_pric = #{total_disc_pric},
            total_ord_pric = #{total_ord_pric},
            total_prod_pric = #{total_prod_pric},
            updated_at = NOW(),
            up_id = #{up_id},
            up_date = NOW()
        WHERE
            ord_seq = #{ord_seq}
    </update>

    <delete id="deleteOrder" parameterType="map">
        DELETE
        FROM
            book_shop.`order`
        <where>
            <if test="ord_seq != null">
                ord_seq = #{ord_seq}
            </if>
            <if test="cust_id != null">
                AND cust_id = #{cust_id}
            </if>
            <if test="ord_seq == null and cust_id == null ">
                1 = 2
            </if>
        </where>
    </delete>
</mapper>