<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.ch4.dao.order.OrderProductMapper">
    <insert id="insertOrderProduct" parameterType="OrderProductDto" useGeneratedKeys="true" keyProperty="ord_prod_seq">
        INSERT INTO book_shop.order_prod
        (ord_seq,
         isbn,
         prod_type_code,
         ord_stat,
         deli_stat,
         pay_stat,
         cust_id,
         book_title,
         item_quan,
         point_perc,
         point_pric,
         basic_pric,
         disc_perc,
         disc_pric,
         sale_pric,
         ord_pric,
         repre_img,
         reg_date,
         reg_id,
         up_date,
         up_id,
         updated_at,
         created_at)
        VALUES (#{ord_seq},
                #{isbn},
                #{prod_type_code},
                #{ord_stat},
                #{deli_stat},
                #{pay_stat},
                #{cust_id},
                #{book_title},
                #{item_quan},
                #{point_perc},
                #{point_pric},
                #{basic_pric},
                #{disc_perc},
                #{disc_pric},
                #{sale_pric},
                #{ord_pric},
                #{repre_img},
                NOW(),
                #{reg_id},
                NOW(),
                #{up_id},
                NOW(),
                NOW())
    </insert>

    <select id="selectListOrderProductByCondition" parameterType="map" resultType="OrderProductDto">
        SELECT
        ord_prod_seq,
        ord_seq,
        isbn,
        prod_type_code,
        ord_stat,
        deli_stat,
        pay_stat,
        cust_id,
        book_title,
        item_quan,
        point_perc,
        point_pric,
        basic_pric,
        disc_perc,
        disc_pric,
        sale_pric,
        ord_pric,
        repre_img,
        reg_date,
        reg_id,
        up_date,
        up_id,
        updated_at,
        created_at
        FROM book_shop.order_prod
        <where>
            <if test="ord_prod_seq != null">
                ord_prod_seq = #{ord_prod_seq}
            </if>
            <if test="ord_seq != null">
                AND ord_seq = #{ord_seq}
            </if>
            <if test="ord_stat != null">
                AND ord_stat = #{ord_stat}
            </if>
            <if test="deli_stat != null">
                AND deli_stat = #{deli_stat}
            </if>
            <if test="pay_stat != null">
                AND pay_stat = #{pay_stat}
            </if>
            <if test="cust_id != null">
                AND cust_id = #{cust_id}
            </if>
        </where>
    </select>

    <update id="updateOrderProduct" parameterType="object">
        UPDATE
        book_shop.order_prod
        <set>
            up_date = NOW(),
            up_id = #{up_id},
            updated_at = NOW(),
            <if test="ord_stat != null">
                ord_stat = #{ord_stat},
            </if>
            <if test="deli_stat != null">
                deli_stat = #{deli_stat},
            </if>
            <if test="pay_stat != null">
                pay_stat = #{pay_stat},
            </if>
            <if test="book_title != null">
                book_title = #{book_title},
            </if>
            <if test="item_quan != null">
                item_quan = #{item_quan},
            </if>
            <if test="point_perc != null">
                point_perc = #{point_perc},
            </if>
            <if test="point_pric != null">
                point_pric = #{point_pric},
            </if>
            <if test="basic_pric != null">
                basic_pric = #{basic_pric},
            </if>
            <if test="disc_perc != null">
                disc_perc = #{disc_perc},
            </if>
            <if test="disc_pric != null">
                disc_pric = #{disc_pric},
            </if>
            <if test="sale_pric != null">
                sale_pric = #{sale_pric},
            </if>
            <if test="ord_pric != null">
                ord_pric = #{ord_pric},
            </if>
            <if test="repre_img != null">
                repre_img = #{repre_img},
            </if>
        </set>
        WHERE
            ord_prod_seq = #{ord_prod_seq}
    </update>
    
    <delete id="deleteOrderProductByCondition" parameterType="map">
        DELETE
        FROM book_shop.order_prod
        <choose>
            <when test="ord_seq != null and ord_prod_seq == null and cust_id != null">
                WHERE ord_seq = #{ord_seq}
            </when>
            <when test="ord_seq == null and ord_prod_seq != null and cust_id == null">
                WHERE ord_prod_seq = #{ord_prod_seq}
            </when>
            <when test="ord_seq == null and ord_prod_seq == null and cust_id != null">
                WHERE cust_id = #{cust_id}
            </when>
            <otherwise>
                WHERE 1 = 2
            </otherwise>
        </choose>
    </delete>
</mapper>