<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch4.QaMapper">
  <!-- Qa 부분 -->
  <select id="count" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM qa
    WHERE user_id = #{user_id};
  </select>

  <select id="select" parameterType="int" resultType="QaDto">
    SELECT
      q.qa_num, q.user_id, q.qa_cate_num, q.title, q.content,
      q.created_at, q.email, q.tele_num, q.phon_num, q.img1,
      q.img2, q.img3, c.name AS cate_name
    FROM qa AS q
    INNER JOIN qa_cate AS c
    ON q.qa_cate_num = c.qa_cate_num
    WHERE q.qa_num = #{qa_num}
    <!-- 추후에 답변글 등등 조인 -->
  </select>

  <select id="selectByUserId" parameterType="string" resultType="QaDto">
    SELECT
      q.qa_num, q.user_id, q.qa_cate_num, q.title, q.content,
      q.created_at, q.email, q.tele_num, q.phon_num, q.img1,
      q.img2, q.img3, c.name AS cate_name
    FROM qa AS q
    INNER JOIN qa_cate AS c
    ON q.qa_cate_num = c.qa_cate_num
    WHERE q.user_id = #{user_id}
    ORDER BY q.created_at DESC;
  </select>

  <select id="selectForUpdate" parameterType="QaDto" resultType="QaDto">
    SELECT
      q.qa_num, q.user_id, q.qa_cate_num, q.title, q.content,
      q.created_at, q.email, q.tele_num, q.phon_num, q.img1,
      q.img2, q.img3, c.name AS cate_name
    FROM qa AS q
    INNER JOIN qa_cate AS c
    ON q.qa_cate_num = c.qa_cate_num
    WHERE q.qa_num = #{qa_num}
    ORDR BY q.created_at DESC
    FOR UPDATE
  </select>

  <select id="selectByUserIdAndPh" parameterType="map" resultType="QaDto">
    SELECT
      q.qa_num, q.user_id, q.qa_cate_num, q.title, q.content,
      q.created_at, q.email, q.tele_num, q.phon_num, q.img1,
      q.img2, q.img3, c.name AS cate_name
    FROM qa AS q
    INNER JOIN qa_cate AS c
    ON q.qa_cate_num = c.qa_cate_num
    WHERE q.user_id = #{user_id}
    ORDER BY q.created_at DESC
    LIMIT #{offSet}, #{pageSize};
  </select>

  <select id="selectBySearchCondition" parameterType="map" resultType="QaDto">
    SELECT
      q.qa_num, q.user_id, q.qa_cate_num, q.title, q.content,
      q.created_at, q.email, q.tele_num, q.phon_num, q.img1,
      q.img2, q.img3, c.name AS cate_name
    FROM qa AS q
    INNER JOIN qa_cate AS c
    ON q.qa_cate_num = c.qa_cate_num
    WHERE TRUE
    <choose>
      <when test='option=="title"'>
        AND q.user_id = #{user_id}
        AND q.title LIKE CONCAT('%', #{titleKeyword}, '%')
      </when>
      <when test='option=="period"'>
        AND q.user_id = #{user_id}
        AND q.created_at BETWEEN DATE_SUB(NOW(), INTERVAL #{period} MONTH) AND now()
      </when>
      <otherwise>
        AND q.user_id = #{user_id}
        AND q.title LIKE CONCAT('%', #{title}, '%')
        AND q.created_at BETWEEN DATE_SUB(NOW(), INTERVAL #{period} MONTH) AND now()
      </otherwise>
    </choose>
    ORDER BY q.created_at DESC
    LIMIT #{offSet}, #{pageSize}
    <!-- 추후에 상태, 카테고리 조인 -->
  </select>

  <insert id="insert" parameterType="QaDto">
    INSERT INTO qa
        (qa_num, user_id, qa_cate_num, title, content,
        created_at, email, tele_num, phon_num, img1,
        img2, img3, reg_date, reg_id, up_date, up_id)
    VALUES
        (#{qa_num}, #{user_id}, #{qa_cate_num}, #{title}, #{content},
        now(), #{email}, #{tele_num}, #{phon_num}, #{img1},
        #{img2}, #{img3}, #{reg_date}, #{reg_id}, #{up_date}, #{up_id});
  </insert>

  <update id="update" parameterType="QaDto">
    UPDATE qa
    SET title = #{title}, content = #{content}, email = #{email},
        tele_num = #{tele_num}, phon_num = #{phon_num}, img1 = #{img1},
        img2 = #{img2}, img3 = #{img3}
    WHERE user_id = #{user_id}
    AND qa_num = #{qa_num};
  </update>

  <delete id="delete" parameterType="QaDto">
    DELETE
    FROM qa
    WHERE qa_num = #{qa_num};
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM qa;
  </delete>

  <!-- QaCategory 부분 -->

  <!-- QaState 부분 -->
  <insert id="insertForQaState" parameterType="QaStateDto">
    INSERT INTO qa_state (qa_stat_code, name, reg_date,
                          reg_id, up_date, up_id, qa_num,
                          appl_begin, appl_end)
    VALUES (#{qa_stat_code}, #{name}, now(), #{reg_id},
            '9999-12-31 23:59:59', #{up_id}, #{qa_num},
            now(), '9999-12-31 23:59:59');
  </insert>

  <select id="selectForQaState" resultType="QaStateDto">
    SELECT * FROM qa_state
    ORDER BY reg_date DESC;
  </select>

  <select id="selectForQaStateByQaNum" resultType="QaStateDto">
    SELECT *
    FROM qa_state
    WHERE qa_num = #{qa_num};
  </select>

  <select id="selectForQaStateByQaNumAndQaStateSeq" resultType="QaStateDto">
    SELECT *
    FROM qa_state
    WHERE qa_num = #{qa_num}
    AND qa_stat_seq = #{qa_stat_seq};
  </select>

  <update id="updateForQaState">
    UPDATE qa_state
    SET qa_stat_code = #{qa_stat_code},
        name = #{name},
        appl_begin = #{appl_begin},
        appl_end = now(),
        up_date = now(),
        up_id = #{up_id}
    WHERE qa_num = #{qa_num}
    AND qa_stat_seq = #{qa_stat_seq};
  </update>


  <delete id="deleteAllForQaState">
    DELETE FROM qa_state;
  </delete>

  <delete id="deleteForQaState">
    DELETE FROM qa_state
    WHERE qa_num = #{qa_num}
    AND qa_stat_seq = #{qa_stat_seq};
  </delete>

  <delete id="deleteForQaStateOnQaNum">
    DELETE FROM qa_state
    WHERE qa_num = #{qa_num};
  </delete>

</mapper>