<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <!-- faq  -->

    <!-- item  -->

    <!-- member  -->

    <typeAlias alias="TermtDto" type="com.fastcampus.ch4.dto.member.TermDto"/>
    <typeAlias alias="TermAgreeDto" type="com.fastcampus.ch4.dto.member.TermAgreeDto"/>
    <typeAlias alias="MemberDto" type="com.fastcampus.ch4.dto.member.MemberDto"/>
    <typeAlias alias="LoginHistoryDto" type="com.fastcampus.ch4.dto.member.LoginHistoryDto"/>

    <!-- order  -->

    <!-- qa  -->
  </typeAliases>

</configuration>