<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <!-- admin -->
    <typeAlias alias="AdminDto" type="com.fastcampus.ch4.dto.admin.AdminDto"/>

    <!-- faq  -->
    <typeAlias alias="FaqDto" type="com.fastcampus.ch4.dto.faq.FaqDto"/>
    <typeAlias alias="FaqCateDto" type="com.fastcampus.ch4.dto.faq.FaqCateDto"/>
    <typeAlias alias="FaqSearchCondition" type="com.fastcampus.ch4.domain.faq.SearchCondition"/>

    <!-- item  -->
    <typeAlias alias="BookDto" type="com.fastcampus.ch4.dto.item.BookDto"/>
    <typeAlias alias="CategoryDto" type="com.fastcampus.ch4.dto.item.CategoryDto"/>
    <typeAlias alias="BookImageDto" type="com.fastcampus.ch4.dto.item.BookImageDto"/>
    <typeAlias alias="BookSearchCondition" type="com.fastcampus.ch4.dto.item.BookSearchCondition"/>


    <!-- member  -->

    <typeAlias alias="TermtDto" type="com.fastcampus.ch4.dto.member.TermDto"/>
    <typeAlias alias="TermAgreeDto" type="com.fastcampus.ch4.dto.member.TermAgreeDto"/>
    <typeAlias alias="MemberDto" type="com.fastcampus.ch4.dto.member.MemberDto"/>
    <typeAlias alias="LoginHistoryDto" type="com.fastcampus.ch4.dto.member.LoginHistoryDto"/>

    <!-- order  -->
    <typeAlias alias="OrderDto" type="com.fastcampus.ch4.dto.order.OrderDto"/>
    <typeAlias alias="OrderHistoryDto" type="com.fastcampus.ch4.dto.order.OrderHistoryDto"/>
    <typeAlias alias="OrderProductDto" type="com.fastcampus.ch4.dto.order.OrderProductDto" />
    <typeAlias alias="OrderProductStatusHistoryDto" type="com.fastcampus.ch4.dto.order.OrderProductStatusHistoryDto" />
    <typeAlias alias="OrderSearchCondition" type="com.fastcampus.ch4.domain.order.OrderSearchCondition"/>
    <typeAlias alias="OrderProductSearchCondition" type="com.fastcampus.ch4.domain.order.OrderProductSearchCondition"/>
    <typeAlias alias="OrderCountCondition" type="com.fastcampus.ch4.domain.order.OrderCountCondition"/>

    <!--  cart  -->
    <typeAlias alias="CartDto" type="com.fastcampus.ch4.dto.cart.CartDto" />
    <typeAlias alias="CartProductDto" type="com.fastcampus.ch4.dto.cart.CartProductDto" />
    <typeAlias alias="CartProductDetailDto" type="com.fastcampus.ch4.dto.cart.CartProductDetailDto" />

    <!-- qa  -->
    <typeAlias alias="QaDto" type="com.fastcampus.ch4.dto.qa.QaDto"/>
    <typeAlias alias="SearchCondition" type="com.fastcampus.ch4.domain.qa.SearchCondition"/>
    <typeAlias alias="QaCategoryDto" type="com.fastcampus.ch4.dto.qa.QaCategoryDto"/>
    <typeAlias alias="QaStateDto" type="com.fastcampus.ch4.dto.qa.QaStateDto"/>
    <typeAlias alias="CodeDto" type="com.fastcampus.ch4.dto.global.CodeDto"/>
    <typeAlias alias="ReplyDto" type="com.fastcampus.ch4.dto.qa.ReplyDto"/>
  </typeAliases>
</configuration>