<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <!-- faq  -->

    <!-- item  -->
    <typeAlias alias="BookDto" type="com.fastcampus.ch4.dto.item.BookDto"/>
    <typeAlias alias="CategoryDto" type="com.fastcampus.ch4.dto.item.CategoryDto"/>
    <typeAlias alias="BookImageDto" type="com.fastcampus.ch4.dto.item.BookImageDto"/>
    <!-- member  -->

    <!-- order  -->

    <!-- qa  -->
    <typeAlias alias="QaDto" type="com.fastcampus.ch4.dto.qa.QaDto"/>
    <typeAlias alias="SearchCondition" type="com.fastcampus.ch4.domain.qa.SearchCondition"/>
    <typeAlias alias="QaCategoryDto" type="com.fastcampus.ch4.dto.qa.QaCategoryDto"/>
    <typeAlias alias="QaStateDto" type="com.fastcampus.ch4.dto.qa.QaStateDto"/>
    <typeAlias alias="CodeDto" type="com.fastcampus.ch4.dto.global.CodeDto"/>
  </typeAliases>
</configuration>