<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastcampus.ch4.dao.member.LoginHistoryDao">

    <!-- Result Map -->
    <resultMap id="loginHistoryResultMap" type="com.fastcampus.ch4.dto.member.LoginHistoryDto">
        <id property="lognId" column="logn_id"/>
        <result property="lognTime" column="logn_time"/>
        <result property="ipAddr" column="ip_addr"/>
        <result property="regDate" column="reg_date"/>
        <result property="regId" column="reg_id"/>
        <result property="upDate" column="up_date"/>
        <result property="upId" column="up_id"/>
        <result property="id" column="id"/>
    </resultMap>

     <!-- 로그인 기록 저장 -->
    <insert id="insertLoginHistory" parameterType="LoginHistoryDto" useGeneratedKeys="true" keyProperty="lognId">
        INSERT INTO logn_history (logn_time, ip_addr, reg_date, reg_id, up_date, up_id, id)
        VALUES (#{lognTime}, #{ipAddr}, #{regDate}, #{regId}, #{upDate}, #{upId}, #{id})
    </insert>

    <!-- 로그인 기록 조회 (ID로 조회) -->
    <select id="selectLoginHistoryById" parameterType="String" resultMap="loginHistoryResultMap">
        SELECT * FROM logn_history WHERE id = #{id}
    </select>

    <!-- 모든 로그인 기록 조회 -->
    <select id="getAllLoginHistories" resultMap="loginHistoryResultMap">
        SELECT * FROM logn_history
    </select>

    <!-- 모든 로그인 기록 삭제 -->
    <delete id="deleteAll">
        DELETE FROM logn_history
    </delete>

</mapper>
