<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.ch4.dao.member.ShippingAddressDao">

    <!-- resultMap 정의 -->
    <resultMap id="shippingAddressResultMap" type="com.fastcampus.ch4.dto.member.ShippingAddressDto">
        <id property="userId" column="id"/>
        <result property="address" column="addr"/>
        <result property="regiAddress1" column="regi_addr1"/>
        <result property="regiAddress2" column="regi_addr2"/>
        <result property="rcntAddress1" column="rcnt_addr1"/>
        <result property="rcntAddress2" column="rcnt_addr2"/>
        <result property="regDate" column="reg_date"/>
        <result property="regId" column="reg_id"/>
        <result property="upDate" column="up_date"/>
        <result property="upId" column="up_id"/>
    </resultMap>

    <!-- 새 주소 추가 -->
    <insert id="insertAddress" parameterType="com.fastcampus.ch4.dto.member.ShippingAddressDto">
        INSERT INTO shipping_address
        (id, addr, regi_addr1, regi_addr2, rcnt_addr1,
        rcnt_addr2, reg_date, reg_id, up_date, up_id)
        VALUES
        (#{userId}, #{address}, #{regiAddress1}, #{regiAddress2}, #{rcntAddress1},
         #{rcntAddress2}, SYSDATE(), #{userId}, SYSDATE(), #{userId})
    </insert>

    <!-- 주소 업데이트 -->
    <update id="updateAddress" parameterType="com.fastcampus.ch4.dto.member.ShippingAddressDto">
        UPDATE shipping_address
        SET addr = #{address},
            regi_addr1 = #{regiAddress1},
            regi_addr2 = #{regiAddress2},
            rcnt_addr1 = #{rcntAddress1},
            rcnt_addr2 = #{rcntAddress2},
            up_date = #{upDate},
            up_id = #{upId}
        WHERE id = #{userId}
    </update>

    <!-- 주소 삭제 -->
    <delete id="deleteAddress" parameterType="String">
        DELETE FROM shipping_address WHERE id = #{id}
    </delete>

   <!-- ID로 주소 조회 -->
    <select id="selectAddressById" parameterType="String" resultMap="shippingAddressResultMap">
        SELECT * FROM shipping_address WHERE id = #{userId}
    </select>

    <!-- 모든 주소 조회 -->
    <select id="selectAllShippingAddresses" resultMap="shippingAddressResultMap">
        SELECT * FROM shipping_address
    </select>

    <!-- 모든 주소 삭제 -->
    <delete id="deleteAllShippingAddresses">
        DELETE FROM shipping_address
    </delete>



</mapper>
